{{define "agent-auth"}}
<!doctype html>
<html class="no-js fixed-layout">

<head lang="en">
  <meta charset="utf-8">
  <title>千胜分销系统</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/sale.css">
</head>

<body class="body">

  <header class="header">
    <div class="am-g">
      <div class="am-u-sm-12">
        <a class="am-u-sm-2 am-padding-vertical" href="/index"><i class="am-icon-chevron-left am-icon-sm"></i></a>
        <strong class="am-u-sm-8 am-padding-vertical am-text-lg">下级代理授权</strong>
        <a class="am-u-sm-2 am-padding-vertical" href="/index"><i class="am-icon-home am-icon-sm"></i></a>
      </div>
    </div>
  </header>

  <br/>
  <div class="am-g">
    <div class="am-u-sm-12 am-u-sm-centered">
      <form action="agent-auth" method="post" class="am-form">
        <label for="ag_id">下级代理ID:</label>
        <input type="number" name="ag_id" id="ag_id" value="" required="required" placeholder="下级代理游戏ID">
        <br>
        <label for="ag_level">授权等级:</label>
        <select name="ag_level" id="ag_level"> 
        {{if eq .AgLevel 0}}
        <option value="2">小咖二级</option>
        <option value="1">大咖一级</option>
        {{else if eq .AgLevel 1}}
        <option value="2">小咖二级</option>
        {{end}}
        </select>
        <br>
        <input type="submit" name="" id="" value="确 定" class="am-btn am-btn-primary am-btn-block">
      </form>
      <hr>
    </div>
  </div>

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/amazeui.min.js"></script>
</body>

</html>
{{end}}